In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../../election_data.csv")
df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [3]:
data = df["Candidate"].value_counts()

In [4]:
data

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [5]:
Khan = data[0]
Correy = data[1]
Li = data[2]
Tooley = data[3]
vote = [Khan, Correy, Li, Tooley]
vote

[2218231, 704200, 492940, 105630]

In [6]:
total = data.sum()
pctk = '{:.3%}'.format(Khan / total)
pctc = '{:.3%}'.format(Correy / total)
pctl = '{:.3%}'.format(Li / total)
pcto = '{:.3%}'.format(Tooley / total)
pct = [pctk, pctc, pctl, pcto]
pct

['63.000%', '20.000%', '14.000%', '3.000%']

In [7]:
name = df.Candidate.unique().tolist()
name

['Khan', 'Correy', 'Li', "O'Tooley"]

In [11]:
newdf = pd.DataFrame([name, vote, pct]).transpose()
newdf.head()

          0        1        2
0      Khan  2218231  63.000%
1    Correy   704200  20.000%
2        Li   492940  14.000%
3  O'Tooley   105630   3.000%

In [9]:
high = newdf[1].max()

for i in range(len(newdf)):
    if newdf.iloc[i, 1] == high:
        winner = newdf.iloc[i, 0]

print(winner)

Khan

In [15]:
print(f"Election Results\n--------------------------\nTotal Votes: {str(total)}\n--------------------------\n\
{str(newdf.iloc[0, 0])}: {str(newdf.iloc[0, 2])} ({str(newdf.iloc[0, 1])})\n\
{str(newdf.iloc[1, 0])}: {str(newdf.iloc[1, 2])} ({str(newdf.iloc[1, 1])})\n\
{str(newdf.iloc[2, 0])}: {str(newdf.iloc[2, 2])} ({str(newdf.iloc[2, 1])})\n\
{str(newdf.iloc[3, 0])}: {str(newdf.iloc[3, 2])} ({str(newdf.iloc[3, 1])})\n\
--------------------------\nWinner: {str(winner)}")

Election Results
--------------------------
Total Votes: 3521001
--------------------------
Khan: 63.000% (2218231)
Correy: 20.000% (704200)
Li: 14.000% (492940)
O'Tooley: 3.000% (105630)
--------------------------
Winner: Khan

In [16]:
print(f"Election Results\n--------------------------\nTotal Votes: {str(total)}\n--------------------------\n\
{str(newdf.iloc[0, 0])}: {str(newdf.iloc[0, 2])} ({str(newdf.iloc[0, 1])})\n\
{str(newdf.iloc[1, 0])}: {str(newdf.iloc[1, 2])} ({str(newdf.iloc[1, 1])})\n\
{str(newdf.iloc[2, 0])}: {str(newdf.iloc[2, 2])} ({str(newdf.iloc[2, 1])})\n\
{str(newdf.iloc[3, 0])}: {str(newdf.iloc[3, 2])} ({str(newdf.iloc[3, 1])})\n\
--------------------------\nWinner: {str(winner)}", file=open("results.txt", "a"))