In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../../budget_data.csv")

In [3]:
df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [4]:
month_count = df["Date"].count()
month_count

86

In [5]:
total = df["Profit/Losses"].sum()
total

38382578

In [6]:
df["Change"] = df["Profit/Losses"].diff()
avg = df["Change"].mean()
avg

-2315.1176470588234

In [9]:
high = df["Change"].max()

for i in range(len(df)):
    
    if df.iloc[i, 2] == high:
    
        month_max = df.iloc[i, 0]

print(month_max)

Feb-2012

In [10]:
low = df["Change"].min()

for i in range(len(df)):
    
    if df.iloc[i, 2] == low:
    
        month_min = df.iloc[i, 0]

print(month_min)

Sep-2013

In [14]:
result = print(f"Financial analysis\n--------------------------\nTotal Months: {str(month_count)}\nTotal: ${str(total)}\
\nAverage Change: ${str(round(avg,2))}\nGreatest Increase in Profits: {str(month_max)} (${str(int(high))})\n\
Greatest Decrease in Profits: {str(month_min)} (${str(int(low))})")

Financial analysis
--------------------------
Total Months: 86
Total: $38382578
Average Change: $-2315.12
Greatest Increase in Profits: Feb-2012 ($1926159)
Greatest Decrease in Profits: Sep-2013 ($-2196167)

In [17]:
print(f"Financial analysis\n--------------------------\nTotal Months: {str(month_count)}\nTotal: ${str(total)}\
\nAverage Change: ${str(round(avg,2))}\nGreatest Increase in Profits: {str(month_max)} (${str(int(high))})\n\
Greatest Decrease in Profits: {str(month_min)} (${str(int(low))})", file=open("results.txt", "a"))